//* FOOTER SOCIAL MEDIA
.footer-social-media
{
    //* Block
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: $color-blue;

    //* Elements
    &__inner
    {
        max-width: 100%;
        width: $page-width;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
    }
}
