//* HEADER LOGO
.header-logo
{
    //* Block
    background-color: $color-white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //* Elements
    &__inner
    {
        max-width: 100%;
        width: $page-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: $color-white;
    }
}
