//* BREARKPOINTS

//* Tablets
@media all and (max-width: 840px) //835px
{
    //* HEADER
    .header
    {
        gap: 20px;
    }

    //* HEADER LOGO
    .header-logo
    {
        &__inner
        {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    //* HEADER NAVBAR
    .header-navbar
    {
        &__inner
        {
            justify-content: center;
        }
    }

    //* MAIN SECTION
    .main-section
    {
        //* Elements
        &__inner
        {
            gap: 50px;
        }
    }

    //* SOCIAL MEDIA CTA
    .social-media-cta
    {
        flex-direction: column;
        gap: 5px;
    }

    //* FOOTER NETWORKS
    .footer-social-media
    {
        &__inner
        {
            justify-content: center;
        }
    }

    //* FOOTER COPYRIGHTS
    .footer-copyrights
    {
        &__inner
        {
            flex-direction: column;
            gap: 20px;
        }
    }
}

//* Mobiles
@media all and (max-width: 580px)
{
    //* HEADER
    .header-logo
    {
        //* Elements
        &__search-box
        {
            display: none;
        }
    }

    //* MOTO
    .moto
    {
        //* Block
        font-size: calc(($font-regular * 2.5) - 10px);
    }
}

//* Smaller mobiles
@media all and (max-width: 410px)
{
    //* MAIN SECTION
    .main-section
    {
        //* Elements
        &__corner
        {
            display: none;
        }

        &__moto-and-corners
        {
            display: block;

            padding: 0 10px 0 10px;
        }
    }
}

//* Smallest mobiles
@media all and (max-width: 340px)
{
    //* CARD
    .card
    {
        //* Block
        width: 230px;

        //* Elements
        &__body
        {
            padding: 0 20px 10px 20px;
        }
    }

    //* MOTO
    .moto
    {
        //* Block
        font-size: calc(($font-regular * 2) - 15px);
    }
}
