//* IMPORT MAIN SECTION
.main-section
{
    //* Block
    max-width: 100%;
    min-height: $banner-height;
    // height: max-content;
    max-height: 100%;
    width: $page-width;
    margin: auto;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    flex-direction: row;
    justify-content: center;

    background-color: $color-white;

    //* Elements
    &__inner
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;

        margin-top: -60px;
        margin-bottom: 50px;
    }

    &__three-cards
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__moto-and-corners
    {
        display: grid;
        grid-template: 1fr #{$corner-width} / #{$corner-width} 1fr $corner-width;

        & > .corner
        {
            grid-row-start: 2;
            grid-column-start: 1;
        }

        & > .moto
        {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        & > .corner:last-child
        {
            grid-row-start: 2;
            grid-column-start: 3;
        }
    }
}
