//* BODY
html, body
{
    height: 100%;
}

body
{
    font-family: serif;
    font-size: $font-size;

    display: flex;
    flex-direction: column;
}

.page
{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    background-color: $color-cyan;
}
