//* CONTACT US SECTION
.contact-us-section
{
    //* Block
    max-width: 100%;
    width: $page-width;

    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: $color-white;

    //* Elements
    &__contact-us-content
    {
        margin-bottom: 30px;
        align-self: center;
    }
}
