//* MAIN
.main
{
    //* Block
    display: flex;
    justify-content: center;

    background-color: $color-grey;

    //* Elements
    &__inner
    {
        // display: block;
        width: $page-width;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        background-color: $color-white;
    }

    &__hero-banner
    {
        max-height: 100%;
        // height: 50%;
        height: $banner-height;
    }

    &__body
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
