//* BTN
.btn
{
    //* Block
    @extend %btn;

    background-color: $color-orange;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 5px 7px 5px;
    width: fit-content;
    // display: block;
    // width: fit-content;

    &:hover
    {
        background-color: $color-orange-hover;
    }

    //* Modifiers
    &--blue
    {
        background-color: $color-blue;

        &:hover
        {
            background-color: $color-blue-hover;
        }
    }

    &--stretch
    {
        display: block;
    }

    &--rounded
    {
        padding: 5px 15px 3px 15px;
        border-radius: 5px;
        font-weight: bold;
    }
}
