//* LENS ICON
.lens-icon
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 25px;
    height: 25px;

    background: url("../images/loupe_recherche_transparent.png") no-repeat center / contain;
}
