//* PLACEHOLDER SELECTORS
%btn
{
    color: $color-white;
    border: none;
    cursor: pointer;
    // text-align: center;

    // display: block;
    // width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
