//* VARIABLES
//* Colors
$color-grey: lightgrey;
$color-lightgrey: lightgrey;
$color-white: white;
$color-orange: #D07326;
$color-blue: #25408D;
$color-lightblue: #7C8DBB;

//* Modified colors
$color-orange-hover: lighten($color-orange, 10%);
$color-blue-hover: lighten($color-blue, 10%);

//* Fonts
$font-regular: 17px;

//* Images sizes
$corner-width: 46px;
$banner-height: 370px;

//* Layouts
$page-width: 1150px;
